DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost,.ngrok-free.app,.ngrok-free.dev,.ngrok.io
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost,http://127.0.0.1,https://*.ngrok-free.app,https://*.ngrok-free.dev,https://*.ngrok.io
DJANGO_TIME_ZONE=Africa/Douala
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
CASSANDRA_HOSTS=127.0.0.1
CASSANDRA_PORT=9042
CASSANDRA_KEYSPACE=chatapp
CASSANDRA_LOCAL_DC=datacenter1
